absl==0.0
absl_py==1.0.0
dm_env==1.5
dm_env_rpc==1.0.6
docker_py==1.10.6
einops==0.4.1
grpc==1.0.0
grpcio==1.46.3
gym==0.21.0
matplotlib==3.5.1
numpy==1.22.3
Pillow==9.1.1
portpicker==1.5.0
protobuf==4.21.1
pygame==2.1.2
stable_baselines3==1.5.0
torch==1.11.0
tqdm==4.64.0
